/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.containerHome {
  padding: 63px 0;
  display: grid;
  max-width: 100%;
  grid-gap: 80px;
  margin: 0 auto;
  width: 95%;
  grid-auto-rows: 300px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

  .home-card {
    border-radius: 10px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    cursor: pointer;
    background-color: #f7f7f7;
  }

  .home-card:hover {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
    background: #eaeaea;
  }
}
