
<h1 class="title">CRUD</h1>

<div class="containerHome">

  <div>
    <mat-card class="home-card animated fadeIn" routerLink="/users">
      <div class="background-image"> 
        <img mat-card-image src="assets/img/angular.png"/>
      </div>
    </mat-card>
  </div>

  <div>
    <mat-card class="home-card animated fadeIn" routerLink="/users">
      <div class="background-image"> 
        <img mat-card-image src="assets/img/m.png" />
      </div>
    </mat-card>
  </div>


   <div>
    <mat-card class="home-card animated fadeIn" routerLink="/users">
      <div class="background-image"> 
        <img mat-card-image src="assets/img/node.jpg"/>
      </div>
    </mat-card>
  </div>

   <div>
    <mat-card class="home-card animated fadeIn" routerLink="/users">
      <div class="background-image"> 
        <img mat-card-image src="assets/img/post.png"  width="20" height="261" />
      </div>
    </mat-card>
  </div>

</div>
