<div class="new-post-container">
  <form ngNativeValidate [formGroup]="newUserForm" (ngSubmit)="addNewUser(newUserForm.value)">

      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required>
      </mat-form-field>

       <mat-form-field>
        <mat-label>Age</mat-label>
        <input matInput formControlName="age" required>
      </mat-form-field>


       <mat-form-field>
        <mat-label>UserName</mat-label>
        <input matInput formControlName="userName" required>
      </mat-form-field>

    <div class="container-button">
      <input type="submit" class="mat-flat-button"  value="Save" [mat-dialog-close]="true">
    </div>
  </form>
</div>

